/* Estilos Generales */
*{
    color: white;
    font-family: 'Yaldevi', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    height: 100vh;
}

/* ********************************************************************* */




/* input[type=submit]{
    background-color: #000;
    color: white;
    text-decoration: none;
    border: none;
    opacity: 0%;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    width: 100px;
    height: 40px;
}

input[type=submit]:hover {
    opacity: 100%;
    border: white 1px solid;
} */
/* ********************************************************************* */
/* Banner Mobile */
@media (min-width: 600px) {
    #Banner-Mobile{
        display: none;
    }
}

@media (max-width: 600px){
    #carouselUnity{
        display: none;
    }
}

#Banner-Mobile{
    margin-top: 50px;
}
/* ********************************************************************* */

/* Seccion INDEX */

/* IMG */
#loNuevo{
    width: 100%;
    margin-top: 25px;
}

/* Index ProdDestacados */

h1{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 40px;
}

.productos div p{
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 10px;
}

.productos div input{
    color: white;
    background-color: #000000;
    font-size: 20px;
    padding: 14px 28px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}
.productos div input:hover{
    background-color: #fff;
    color: black;
    border: black 2px solid;
}



@media (min-width:992px){
    .productos .prod{
        transition: transform border 500ms;
    
        width: 25em;
        height: 40em;
        text-align: center;
        align-items: center;
        padding: 30px;
        cursor: pointer;
    }

    .productos .prod:hover{
    border: white solid 2px;
    transform: scale(1.1, 1.1);
    }

    .productos--imagen__320x400{
    width: 320px;
    height: 400px;
    }
}

@media (max-width: 992px) {
    .productos .prod{
        margin-top:30px;
        margin-bottom: 10px;
        width: 20em;
        text-align: center;
        align-items: center;
        padding: 30px;
        cursor: pointer;
    }

    .productos .prod{
        width: 15em;
        height: 40em;
    }

    .productos--imagen__320x400{
        width: 200px;
        height: 300px;
    }
}




/* ******************************************************************* */
/* Nav */
.nav-item::after{
    content: "";
    display: block;
    border-bottom: #fff 2px solid;
    transform: scaleX(0);
    transition: 250ms ease-in-out;
    margin-top: 2px;
}
.nav-item:hover::after{
    transform: scaleX(0.7);
}
